/* styles.css */
body {
    height: 100%;
    margin: 0;
}

/* Main styling of page */
.content {
  display: flex;
  height: 100vh;
}


/* Left bar */
.leftBar {
  background-color: gray;
  width: 20%;

}

.rightSide {


}