/* styles.css */
body {
    height: 100%;
    margin: 0;
}

/* Main styling of page */
.content {
  display: flex;
  height: 100vh;
}


/* Left bar */
.leftBar {
  background-color: gray;
  width: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftBarHeader{
  color: #0f766e;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Funnel Display", system-ui, -apple-system, sans-serif;
}


.rightSide {


}